@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #333333;
  margin: 0;
  min-height: 100%;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.box-shadow-container {
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.main-header {
  display: flex;
}

.header-logo {
  width: 138px;
  display: block;
  margin-right: 30px;
  margin-left: 70px;
}

.main-navigation {
  display: flex;
  width: 892 px;
  margin: 0 auto;
}

.navigation-list {
margin: 0;
padding: 0;
list-style: none;
width: 465px;
display: flex;
}

.navigation-user-list {
margin: 0;
padding: 0;
list-style: none;
width: 310px;
margin-left: auto;
display: flex;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
}

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0000);
  overflow: hidden;
}
*/

.hero {
  background-image: url(../images/divider-hero.svg),
  url(../images/index-background.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: bottom, center;
  background-color: #4682B4;
  color: #FFFFFF;
  text-align: center;
}

.hero-image {
  display: block;
  width: 458px;
  margin: 0 auto;
}

.advantages {
  margin: 0 auto;
  width: 1200px;
}

.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-paragraph {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  text-align: center;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.real-city-item,
.devils-bridge-item {
  background-color: #82B3D3;
  display: flex;
}

.advantages-wrapper {
  width: 400px;
}

.small-square-item,
.beauty-road-item,
.few-tourists-item {
  width: 400px;
}

.advantages-list-image {
  width: 800px;
}

.small-square-item,
.few-tourists-item,
.house-item,
.souvenirs-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.beauty-road-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.real-city-title,
.devils-bridge-title {
  color: #FFFFFF;
}

.real-city-paragraph,
.devils-bridge-paragraph {
  color: #FFFFFF;
}

.servises {
  margin: 0 auto;
  width: 1200px;
}

.servises-list {
  text-align: center;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.servises-item {
  width: 400px;
}

.servises-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.servises-paragraph {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.shadow {
  background: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px;
}

.offers {
  width: 1200px;
  margin: 0 auto;
}

.offer-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.offer-paragraph {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.button-hotels-catalog {
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
}

.newsletter {
  background-image: url(../images/background-mailing-image.jpg);
  background-color: #4682B4;
  color: #FFFFFF;
  background-size: cover;
  width: 1200px;
  margin: 0 auto;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.newsletter-paragraph {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.field {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: rgba(0,0,0,0.6);
  background: #F2F2F2;
  border-radius: 4px 0px 0px 4px;
}

.newsletter-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px 0px 0px 4px;
}

.main-footer {
  width: 1200px;
  margin: 0 auto;
}

.footer-container {
  margin: 0 auto;
  width: 1060px;
  display: flex;
  justify-content: space-between;
}

.footer-social {
  width: 190px;
  display: flex;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.contact-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  font-style: normal;
  width: 720px;
}

.HTML-academy-logo {
  width: 115px;
}

.hotels-search {
  background-image: url(../images/background-filter-image.jpg);
  background-color: #82B3D3;
  color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.control-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.button-check {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.button-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "PT Sans", sans-serif;
  background-color: rgba(0,0,0,0);
}

.catalog-hotels {
  background-color: #FFFFFF;
  color: #000000;
}


.search-paragraph {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-link {
  text-decoration: none;
  color: #000000;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #333333;
}

.hotel-description-button {
  text-decoration: none;
}

.button-favorites {
  font-family: "PT Sans", sans-serif;
  background-color: #82B3D3;
}

.button-favorites-checked {
  font-family: "PT Sans", sans-serif;
  background-color: #7DB54F;
}

.rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.catalog-newsletter {
  background-color: #FFFFFF;
  color: #000000;
}

.catalog-newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-newsletter-paragraph {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
